/* Geral */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url('./images/universe.png');
  background-size: cover;
  color: white;
  text-align: center;
}

/* Header */
.App header {
  margin-bottom: 20px;
  padding: 10px 0;
}

/* Planetas */
h1 {
  font-size: 26px;
}

.planets-container {
  margin-bottom: 20px;
  padding: 0 10px;
}

.subtitles {
  font-size: 22px;
  margin-bottom: 15px;
}

.planets-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imgs {
  width: 250px;
}

.planet-item {
  margin-bottom: 20px;
}

/* Missões */
.missions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mission-card {
  flex-grow: 1;
  padding: 20px;
}

.mission-card * {
  margin-bottom: 2px;
}

@media screen and ( min-width : 1200px ) {

  body {
    font-size: 24px;
  }

  h1 {
    font-size: 40px;
  }

  .subtitles {
    font-size: 32px;
    margin-bottom: 50px;
  }

  .planets-container {
    margin-bottom: 60px;
  }

  .imgs {
    width: 400px;
  }

  .mission-card {
    padding: 50px;
  }
}
